h1{
 background-color:pink;	
 color:black;
font-size:150%;}
 h3{
	 color:Green;
 }
 section{
	 "border:2px solid lightblue;
	 margin:15px;
	 padding-left:15px;
	 }
	
	div{background-color:lightblue;
	padding:15%
	}
	